@{
    ViewData["isDashboard"] = true;
}

@*Summary Widgets*@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary income">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Income</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalIncome</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary expense">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Total Expense</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalExpense</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex flex-row widget summary balance">
            <div class="d-flex flex-column justify-content-center p-5">
                <i class="fa-solid fa-dollar-sign fa-2xl"></i>
            </div>
            <div class="d-flex flex-column m-auto py-3">
                <span class="lead">Balance</span>
                <h1 class="display-6 fw-bold">@ViewBag.TotalBalance</h1>
            </div>
        </div>
    </div>
</div>

@*Doughnut and Spline Chart*@
<div class="row mb-4">
    <div class="col-md-4 text-center">
        <div class="row">
            <a class="btn btn-success mb-2" href="/Transaction/AddIncome?isCreateRepetitive=false">Add Income</a>
            <a class="btn btn-success mb-2" href="/Transaction/AddExpense?isCreateRepetitive=false">Add Expense</a>
            <a class="btn btn-success mb-2" href="/Transaction/AddIncome?isCreateRepetitive=true">Add Repetitive Income</a>
            <a class="btn btn-success mb-2" href="/Transaction/AddExpense?isCreateRepetitive=true">Add Repetitive Expense</a>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h5 class="fw-bold">Income vs Expense</h5>
            </div>
            <ejs-chart id="spline-chart" palettes=@(new string[]{"#54ffa9", "#ffe91a"})>
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                    <e-linestyle width="0"></e-linestyle>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="day" yName="income" name="Income" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="3"></e-series>
                    <e-series dataSource="@ViewBag.SplineChartData" xName="day" yName="expense" name="Expense" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline" width="3"></e-series>
                </e-series-collection>
                <e-chart-legendsettings position="Top" alignment="Far" toggleVisibility="false">
                    <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                </e-chart-legendsettings>
                <e-chart-tooltipsettings enable shared></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>